.App {
	display: flex;
	flex-flow: row no-wrap;
	margin: 0;
	padding: 1em;
}
.controls {
	padding: 1em;
	border: 1px solid red;
	flex-grow: 1;
	margin-right: 1em;
}

.content {
	padding: 1em;
	border: 1px solid blue;
	flex-grow: 3;
}

.form-field {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 20em;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General Buttons */
button,
input[type='submit'] {
	padding: 0.5em 1em;
	background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%); /* W3C */
	border: none;
	border-radius: 5px;
	position: relative;
	border-bottom: 4px solid #2b8bc6;
	color: #fbfbfb;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
	text-align: center;
	font-size: 16px;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
	cursor: pointer;

	/* Just for presentation */
}
button:active {
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
	top: 1px;
}
button.deleteButton {
	padding: 0 .5em;
	background: linear-gradient(to bottom, #f00 0%, #900 100%);
	border-bottom: 1px solid #800;
	font-size: 12px;
	box-shadow: none;
}

button.small, input[type='submit'].small {
	font-size: 12px;
	padding: 0.1em .5em;
}
.taskRow {
	display: flex;
	flex-flow: row wrap;
	line-height: 1.2em;
}
.taskList ul {
	list-style: none;
	padding: 0 1em;
	margin: .2em 0;
}
.taskList ul li {
	margin: .2em;
}